@import "tailwindcss";

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
         url('/fonts/JetBrainsMono-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2'),
         url('/fonts/JetBrainsMono-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
  }

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-spin-regular {
    animation: spin 20s linear infinite;
}

@keyframes wildSpin {
    0% {
        transform: rotate(0deg) scale(1);
        border-radius: 50% 50% 50% 50%;
    }
    25% {
        transform: rotate(90deg) scale(1.02);
        border-radius: 60% 40% 70% 30%;
    }
    50% {
        transform: rotate(180deg) scale(1);
        border-radius: 30% 60% 40% 70%;
    }
    75% {
        transform: rotate(270deg) scale(1.02);
        border-radius: 70% 30% 60% 40%;
    }
    100% {
        transform: rotate(360deg) scale(1);
        border-radius: 50% 50% 50% 50%;
    }
}

.animate-spin-wild {
    animation: wildSpin 25s ease-in-out infinite;
}

